*{
    margin: 0;
    padding: 0;
}
body{
   
    margin-left: 250px;
    margin-right: 250px;
    
}
.status-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex:1;
    background-color: rgb(190, 190, 230);
    height: 20px;

    
}
.anchor{
    flex:1;
    margin-left: 500px;
}


.a1{
    text-decoration: none;
    color: black;
    margin-right: 5px;
} 
.b1{
    background-color: red;
    margin-left:50px;
    width: 15px;
    border-radius: 5px;
    
}
.b2{
    background-color: blue;
    margin-left:2px;
    width: 15px;
    border-radius: 5px;


}
.b3{
    background-color: yellow;
    margin-left:2px;
    width: 15px;
    border-radius: 5px;
    
}
.b4{
     background-color: violet;
     margin-left:2px;
     width: 15px;
     border-radius: 5px;
    
}
.bt{
    background-color: rgb(52, 160, 160);
    border-radius: 20px;
    padding: 10px;
    color: aliceblue;
    margin-bottom: 30px;
    margin-top: 10px;
    
}
.hero-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(213, 210, 210);
    margin: 20px;
    margin-bottom: 30px;

}
.para{
    /* text-align: center; */
    margin: 30px;
}
.section{
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 30px;
    
}
.section1{
    margin-right: 10px;
}


.flex{
    display: flex;
    margin: 20px;
    
    
}
.items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;


}
.food{
    border-radius: 50px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
}
.profile{
    display: flex;
    text-align: center;
    gap: 30px;
    margin-top:30px;
    margin-left: 90px;
    background-color: rgb(210, 223, 226);
    padding: 20px;
}
.cards{
    margin-left: 20px;
}
.img{
    border-radius: 60px;
    padding: 20px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
}
.sub-head1{
    margin-top: 30px;
    margin-bottom: 30px;
}
.sub-head2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.sub-head3{
    margin-top: 30px;
    margin-bottom: 30px;
}
.sub-head4{
    margin-top: 30px;
    margin-bottom: 30px;
}
.bt:hover{
    background-color: rgb(101, 99, 99);
}
.star{
    height: 20px;
    width: 20px;
    color: yellow;
}
.links{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
footer{
    background-color: black;
    color: aliceblue;
}